*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: corder-box; }

body {
  font-family: 'Kanit', sans-serif;
  font-size: 1.6rem;
  font-style: italic;
  text-transform: uppercase;
  color: #fff;
  background: linear-gradient(to bottom, #110e24, #110e243c), linear-gradient(to right top, #a564d785, #2e1f9000), linear-gradient(to right bottom, #1f52ca, #160e23);
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center; }

figure {
  display: grid;
  grid-template-columns: 1fr;
  overflow: hidden;
  width: 100%;
  align-items: center;
  justify-items: center;
  transform: translate(1rem, -12rem) scale(1.2); }

.hidden {
  visibility: hidden; }

.dice {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
  grid-template-rows: auto;
  justify-items: center;
  perspective: 600px; }

.die-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  height: 6rem;
  list-style-type: none;
  transform-style: preserve-3d;
  width: 6rem; }

.even-roll {
  transition: transform 1.5s ease-out; }

.odd-roll {
  transition: transform 1.25s ease-out; }

.die-item {
  background-color: #fefefe;
  box-shadow: inset -0.35rem 0.35rem 0.75rem rgba(0, 8, 255, 0.3), inset 0.5rem -0.25rem 0.5rem rgba(3, 11, 245, 0.15);
  box-shadow: inset -0.35rem 0.35rem 0.75rem rgba(17, 0, 255, 0.3), inset 0.5rem -0.25rem 0.5rem rgba(51, 0, 255, 0.15);
  display: grid;
  grid-column: 1;
  grid-row: 1;
  grid-template-areas: 'one two three' 'four five six' 'seven eight nine';
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: 100%;
  padding: 1rem;
  width: 100%;
  border-radius: 1rem; }

.dot {
  align-self: center;
  background-color: #921b27;
  border-radius: 50%;
  box-shadow: inset -0.15rem 0.15rem 0.25rem rgba(9, 16, 237, 0.5);
  display: block;
  height: 1.25rem;
  justify-self: center;
  width: 1.25rem; }

.even-roll[data-roll='1'] {
  transform: rotateX(360deg) rotateY(720deg) rotateZ(360deg); }

.even-roll[data-roll='2'] {
  transform: rotateX(450deg) rotateY(720deg) rotateZ(360deg); }

.even-roll[data-roll='3'] {
  transform: rotateX(360deg) rotateY(630deg) rotateZ(360deg); }

.even-roll[data-roll='4'] {
  transform: rotateX(360deg) rotateY(810deg) rotateZ(360deg); }

.even-roll[data-roll='5'] {
  transform: rotateX(270deg) rotateY(720deg) rotateZ(360deg); }

.even-roll[data-roll='6'] {
  transform: rotateX(360deg) rotateY(900deg) rotateZ(360deg); }

.odd-roll[data-roll='1'] {
  transform: rotateX(-360deg) rotateY(-720deg) rotateZ(-360deg); }

.odd-roll[data-roll='2'] {
  transform: rotateX(-270deg) rotateY(-720deg) rotateZ(-360deg); }

.odd-roll[data-roll='3'] {
  transform: rotateX(-360deg) rotateY(-810deg) rotateZ(-360deg); }

.odd-roll[data-roll='4'] {
  transform: rotateX(-360deg) rotateY(-630deg) rotateZ(-360deg); }

.odd-roll[data-roll='5'] {
  transform: rotateX(-450deg) rotateY(-720deg) rotateZ(-360deg); }

.odd-roll[data-roll='6'] {
  transform: rotateX(-360deg) rotateY(-900deg) rotateZ(-360deg); }

[data-side='1'] {
  transform: rotate3d(0, 0, 0, 90deg) translateZ(4rem); }

[data-side='2'] {
  transform: rotate3d(-1, 0, 0, 90deg) translateZ(4rem); }

[data-side='3'] {
  transform: rotate3d(0, 1, 0, 90deg) translateZ(4rem); }

[data-side='4'] {
  transform: rotate3d(0, -1, 0, 90deg) translateZ(4rem); }

[data-side='5'] {
  transform: rotate3d(1, 0, 0, 90deg) translateZ(4rem); }

[data-side='6'] {
  transform: rotate3d(1, 0, 0, 180deg) translateZ(4rem); }

[data-side='1'] .dot:nth-of-type(1) {
  grid-area: five; }

[data-side='2'] .dot:nth-of-type(1) {
  grid-area: one; }

[data-side='2'] .dot:nth-of-type(2) {
  grid-area: nine; }

[data-side='3'] .dot:nth-of-type(1) {
  grid-area: one; }

[data-side='3'] .dot:nth-of-type(2) {
  grid-area: five; }

[data-side='3'] .dot:nth-of-type(3) {
  grid-area: nine; }

[data-side='4'] .dot:nth-of-type(1) {
  grid-area: one; }

[data-side='4'] .dot:nth-of-type(2) {
  grid-area: three; }

[data-side='4'] .dot:nth-of-type(3) {
  grid-area: seven; }

[data-side='4'] .dot:nth-of-type(4) {
  grid-area: nine; }

[data-side='5'] .dot:nth-of-type(1) {
  grid-area: one; }

[data-side='5'] .dot:nth-of-type(2) {
  grid-area: three; }

[data-side='5'] .dot:nth-of-type(3) {
  grid-area: five; }

[data-side='5'] .dot:nth-of-type(4) {
  grid-area: seven; }

[data-side='5'] .dot:nth-of-type(5) {
  grid-area: nine; }

[data-side='6'] .dot:nth-of-type(1) {
  grid-area: one; }

[data-side='6'] .dot:nth-of-type(2) {
  grid-area: three; }

[data-side='6'] .dot:nth-of-type(3) {
  grid-area: four; }

[data-side='6'] .dot:nth-of-type(4) {
  grid-area: six; }

[data-side='6'] .dot:nth-of-type(5) {
  grid-area: seven; }

[data-side='6'] .dot:nth-of-type(6) {
  grid-area: nine; }

button {
  align-self: center;
  background-color: #efefef;
  border: none;
  color: #333;
  font-size: 1.25rem;
  font-weight: 700;
  justify-self: center;
  padding: 0.5rem 1rem; }

button:hover {
  cursor: pointer; }

@media (min-width: 900px) {
  .dice {
    perspective: 1300px; } }

.heading-player {
  font-size: 4rem;
  z-index: 5;
  text-shadow: 0 0.5rem 0.4rem rgba(0, 0, 0, 0.327); }

.label-score {
  font-size: 2rem;
  z-index: 5;
  text-shadow: 0 0.5rem 0.4rem rgba(0, 0, 0, 0.327);
  transform: translateY(-2rem); }

.score {
  font-size: 4rem;
  z-index: 5;
  text-shadow: 0 0.5rem 0.4rem rgba(0, 0, 0, 0.327);
  transform: translateY(-4rem);
  transition: all 1s; }

.correct {
  font-size: 8rem;
  z-index: 5;
  text-shadow: 0rem 0.5rem 2rem rgba(251, 243, 243, 0.724);
  transform: translateY(-2rem);
  color: red; }

.btn-correct {
  display: block;
  width: 16rem;
  height: 6.55rem;
  font-family: inherit;
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 700;
  text-shadow: 0 0.5rem 0.4rem rgba(0, 0, 0, 0.327);
  color: #f0f0f0;
  border-radius: 2rem;
  border: none;
  outline: none;
  background: linear-gradient(to right bottom, #9b4ed5, #922ec8, #c981ef);
  box-shadow: 0.3rem 0.3rem 0.8rem 0.5rem rgba(0, 0, 0, 0.25), inset 0.5rem 0 1rem 0.1rem rgba(0, 0, 0, 0.23);
  z-index: 5;
  transition: all 0.3s; }
  .btn-correct:active {
    transform: scale(0.9);
    box-shadow: 0.1rem 0.1rem 0.4rem 0.2rem rgba(0, 0, 0, 0.25), inset 0.5rem 0 1rem 0.1rem rgba(0, 0, 0, 0.23); }

.btn-roll {
  display: block;
  width: 15rem;
  height: 15rem;
  font-family: inherit;
  font-size: 4.5rem;
  text-transform: uppercase;
  font-weight: 700;
  text-shadow: 0 0.5rem 0.4rem rgba(0, 0, 0, 0.327);
  color: white;
  border-radius: 50%;
  border: none;
  outline: none;
  background: linear-gradient(to left top, #247ff2, #a4e1ff, #247ff2);
  box-shadow: 0.3rem 0.3rem 0.8rem 0.5rem rgba(0, 0, 0, 0.25), inset 0.5rem 0 1rem 0.1rem rgba(0, 0, 0, 0.23);
  z-index: 5;
  transition: all 0.3s; }
  .btn-roll:active {
    transform: scale(0.9);
    box-shadow: 0.1rem 0.1rem 0.4rem 0.2rem rgba(0, 0, 0, 0.25), inset 0.5rem 0 1rem 0.1rem rgba(0, 0, 0, 0.23); }

.btn-finish {
  transform: translateY(-8rem);
  display: block;
  justify-self: center;
  width: 90%;
  height: 6.55rem;
  font-family: inherit;
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 700;
  text-shadow: 0 0.5rem 0.4rem rgba(0, 0, 0, 0.327);
  color: #f0f0f0;
  border-radius: 2rem;
  border: none;
  outline: none;
  background: linear-gradient(to right bottom, #d54f4e, #a31613, #fb6e6e);
  box-shadow: 0.3rem 0.3rem 0.8rem 0.5rem rgba(0, 0, 0, 0.25), inset 0.5rem 0 1rem 0.1rem rgba(0, 0, 0, 0.23);
  z-index: 5;
  transition: all 0.3s; }
  .btn-finish:active {
    transform: translateY(-8rem) scale(0.9);
    box-shadow: 0.1rem 0.1rem 0.4rem 0.2rem rgba(0, 0, 0, 0.25), inset 0.5rem 0 1rem 0.1rem rgba(0, 0, 0, 0.23); }

.dice {
  font-size: 8rem;
  z-index: 5;
  text-shadow: 0rem 0.5rem 2rem rgba(251, 243, 243, 0.724);
  transform: translateY(-2rem);
  color: black; }

.grey {
  background: linear-gradient(to right bottom, #484545, #6f5f5f, #392e2e);
  box-shadow: 0.3rem 0.3rem 0.8rem 0.5rem rgba(0, 0, 0, 0.25), inset 0.5rem 0 1rem 0.1rem rgba(0, 0, 0, 0.23);
  color: grey; }

.dice-game {
  width: 100rem;
  height: 60rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1.5fr 1fr 1.5fr;
  border-radius: 2rem;
  background-color: rgba(250, 235, 215, 0.082);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  border: 0.5px rgba(255, 255, 255, 0.146) solid;
  justify-content: center;
  justify-items: center; }

.player-1 {
  display: grid;
  align-items: center;
  justify-items: center; }

.display-dice {
  width: 100%;
  display: grid;
  background: linear-gradient(to right, #b6eaff84, #7aacc2, #6fe8fa, #79abbf, #b6eaff7e);
  box-shadow: 0 0 4rem 4rem #abe6ef7a;
  z-index: 30; }

@keyframes flick {
  0% {
    background: linear-gradient(to right, #ffd4b684, #c27a7a, #ffd4b684);
    box-shadow: 0 0 4rem 4rem #ffffff7a; }
  50% {
    background: linear-gradient(to right, #b6eeff84, #7ab5c2, #b6fff884);
    box-shadow: 0 0 4rem 4rem #ffffff7a; }
  100% {
    background: linear-gradient(to right, #ffd4b684, #c27a7a, #ffd4b684);
    box-shadow: 0 0 4rem 4rem #ffffff7a; } }

.flick {
  animation: flick 0.2s 6; }

.player-2 {
  display: grid;
  align-items: center;
  justify-items: center; }

.overlayBG {
  position: absolute;
  width: 38%;
  height: 100%;
  background: radial-gradient(circle at center, #00000095 15%, transparent);
  z-index: 2; }
  .overlayBG__1 {
    top: 0%;
    left: 0%; }
  .overlayBG__2 {
    top: 0%;
    right: 0%; }

.overlayBtn {
  position: absolute;
  width: 25%;
  height: 50%;
  z-index: 20; }
  .overlayBtn__1 {
    top: 50%;
    left: 6%; }
  .overlayBtn__2 {
    top: 50%;
    right: 6%; }

.hiddenBlock {
  display: none; }
